:root {
    --text-color: white;
    --light-color: pink;
    --medium-color: purple;
    --dark-color: #0c0938;
    --correct-color: #008854;
    --incorrect-color: #db314a;
}

h1, h2, h3, p, ul, button {
    font-family: Comfortaa;
    color: var(--text-color);
}


body {
    background-image: linear-gradient(to right, purple, pink);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: var(--dark-color);
}

#main-header {
    margin-left: 20px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ul {
    display: flex;
    flex-direction: column;
}
.answerItem {
    outline: none;
    border: 0;
    background-color: var(--dark-color);
    color: var(--text-color);  
    display: inline-block;
    margin: 8px;
    padding: 10px;
    cursor: pointer;
    list-style: none;
}

#timer-card, #high-scores, #start-button {
    color: var(--text-color);
    padding: 10px;
    background-color: var(--dark-color);
    border: 0px;

}
